@media (max-width: 600px) {
  #timer {
    font-size: 50px; /* Smaller timer font size for mobile */
    letter-spacing: 0.1em;
  }

  #timer-labels {
    font-size: 15px;
    letter-spacing: 0.1em;
  }

    .background-row.row1 .background-row-inner {
    animation: scrollRight var(--animation-duration-row1, 30s) linear infinite;
  }
}
